Repository ServerOpenMC/PluginV2, pull requests merged in 2025-03, with the labels that each got.

#60 Ajout des Mascottes + Type de ville
  src/main/java/fr/openmc/core/OMCPlugin.java
  src/main/java/fr/openmc/core/commands/CommandsManager.java
  src/main/java/fr/openmc/core/commands/debug/ChronometerCommand.java
  src/main/java/fr/openmc/core/features/city/City.java
  src/main/java/fr/openmc/core/features/city/CityManager.java
  src/main/java/fr/openmc/core/features/city/CityMessages.java
  src/main/java/fr/openmc/core/features/city/commands/AdminCityCommands.java
  src/main/java/fr/openmc/core/features/city/commands/CityCommands.java
  src/main/java/fr/openmc/core/features/city/listeners/CityTypeCooldown.java
  src/main/java/fr/openmc/core/features/city/listeners/ProtectionListener.java
  src/main/java/fr/openmc/core/features/city/mascots/MascotsLevels.java
  src/main/java/fr/openmc/core/features/city/mascots/MascotsListener.java
  src/main/java/fr/openmc/core/features/city/mascots/MascotsManager.java
  src/main/java/fr/openmc/core/features/city/menu/CityTypeMenu.java
  src/main/java/fr/openmc/core/features/city/menu/MascotMenu.java
  src/main/java/fr/openmc/core/features/city/menu/MascotsDeadMenu.java
  src/main/java/fr/openmc/core/features/city/menu/MascotsSkinMenu.java
  src/main/java/fr/openmc/core/features/mailboxes/MailboxManager.java
  src/main/java/fr/openmc/core/features/mailboxes/menu/PendingMailbox.java
  src/main/java/fr/openmc/core/features/mailboxes/menu/letter/Letter.java
  src/main/java/fr/openmc/core/listeners/ChronometerListener.java
  src/main/java/fr/openmc/core/listeners/ListenersManager.java
  src/main/java/fr/openmc/core/utils/ItemUtils.java
  src/main/java/fr/openmc/core/utils/chronometer/Chronometer.java
  src/main/java/fr/openmc/core/utils/chronometer/ChronometerType.java
  src/main/java/fr/openmc/core/utils/database/DatabaseManager.java
  src/main/java/fr/openmc/core/utils/messages/MessagesManager.java
  src/main/java/fr/openmc/core/utils/serializer/BukkitSerializer.java
  src/main/resources/data/mascots.yml
Labels: :package: Features, :sparkles: Fixes

#63 Change Template
  .github/issue_template.md
  .github/pull_request_template.md
Labels: 🆙 Amélioration

#103 Ajout des TPA
  src/main/java/fr/openmc/core/OMCPlugin.java
  src/main/java/fr/openmc/core/commands/CommandsManager.java
  src/main/java/fr/openmc/core/features/tpa/TPAManager.java
  src/main/java/fr/openmc/core/features/tpa/TPAQueue.java
  src/main/java/fr/openmc/core/features/tpa/commands/TPACommand.java
  src/main/java/fr/openmc/core/features/tpa/commands/TPAcceptCommand.java
  src/main/java/fr/openmc/core/features/tpa/commands/TPCancelCommand.java
  src/main/java/fr/openmc/core/features/tpa/commands/TPDenyCommand.java
Labels: :package: Features

#61 Ajout du système de home
  build.gradle
  src/main/java/fr/openmc/core/OMCPlugin.java
  src/main/java/fr/openmc/core/features/homes/Home.java
  src/main/java/fr/openmc/core/features/homes/HomeIcons.java
  src/main/java/fr/openmc/core/features/homes/HomeLimit.java
  src/main/java/fr/openmc/core/features/homes/HomeLimits.java
  src/main/java/fr/openmc/core/features/homes/HomeUpgradeManager.java
  src/main/java/fr/openmc/core/features/homes/HomesManager.java
  src/main/java/fr/openmc/core/features/homes/command/DelHome.java
  src/main/java/fr/openmc/core/features/homes/command/HomeWorld.java
  src/main/java/fr/openmc/core/features/homes/command/RelocateHome.java
  src/main/java/fr/openmc/core/features/homes/command/RenameHome.java
  src/main/java/fr/openmc/core/features/homes/command/SetHome.java
  src/main/java/fr/openmc/core/features/homes/command/TpHome.java
  src/main/java/fr/openmc/core/features/homes/menu/HomeChangeIconMenu.java
  src/main/java/fr/openmc/core/features/homes/menu/HomeConfigMenu.java
  src/main/java/fr/openmc/core/features/homes/menu/HomeDeleteConfirmMenu.java
  src/main/java/fr/openmc/core/features/homes/menu/HomeMenu.java
  src/main/java/fr/openmc/core/features/homes/menu/HomeUpgradeMenu.java
  src/main/java/fr/openmc/core/features/homes/utils/HomeUtil.java
  src/main/java/fr/openmc/core/features/homes/world/DisabledWorldHome.java
  src/main/java/fr/openmc/core/features/homes/world/WorldDisableInfo.java
  src/main/java/fr/openmc/core/utils/WorldGuardApi.java
  src/main/java/fr/openmc/core/utils/database/DatabaseManager.java
  src/main/java/fr/openmc/core/utils/messages/MessagesManager.java
  src/main/java/fr/openmc/core/utils/messages/Prefix.java
  src/main/resources/plugin.yml
Labels: :package: Features

#116 Corrections d'erreur et amélioration
  src/main/java/fr/openmc/core/commands/utils/Spawn.java
  src/main/java/fr/openmc/core/features/ScoreboardManager.java
  src/main/java/fr/openmc/core/features/homes/command/TpHome.java
  src/main/java/fr/openmc/core/features/tpa/commands/TPAcceptCommand.java
  src/main/java/fr/openmc/core/listeners/CubeListener.java
  src/main/resources/data/contest.yml
Labels: :sparkles: Fixes, 🆙 Amélioration
